@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import 'tailwindcss';
@import '@brickflow/ui/ui.css';
@theme {
  --font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;

  --color-alt-50: #fff7ed;
  --color-alt-100: #ffedd4;
  --color-alt-200: #ffd6a7;
  --color-alt-300: #ffb86a;
  --color-alt-400: #ff8904;
  --color-alt-500: #ff6900;
  --color-alt-600: #f54900;
  --color-alt-700: #ca3500;
  --color-alt-800: #9f2d00;
  --color-alt-900: #7e2a0c;
  --color-alt-950: #441306;

  --color-main-50: #ebdefb;
  --color-main-100: #d7bef7;
  --color-main-200: #c49df4;
  --color-main-300: #b07df0;
  --color-main-400: #9c5cec;
  --color-main-500: #8332e7;
  --color-main-600: #6b18d2;
  --color-main-700: #5514a8;
  --color-main-800: #400f7e;
  --color-main-900: #2f0f56;
  --color-main-950: #1f0a3a;

  /* --color-main-50: #fff8eb;
  --color-main-100: #ffedc6;
  --color-main-200: #ffda88;
  --color-main-300: #ffc24a;
  --color-main-400: #ff9a08;
  --color-main-500: #f47700;
  --color-main-600: #d85200;
  --color-main-700: #b33604;
  --color-main-800: #91290b;
  --color-main-900: #76230c;
  --color-main-950: #441004; */

  --color-danger-50: #fef2f2;
  --color-danger-100: #ffe2e2;
  --color-danger-200: #ffc9c9;
  --color-danger-300: #ffa2a2;
  --color-danger-400: #ff6467;
  --color-danger-500: #fb2c36;
  --color-danger-600: #e7000b;
  --color-danger-700: #c10007;
  --color-danger-800: #9f0712;
  --color-danger-900: #82181a;
  --color-danger-950: #460809;

  --color-info-50: #f0f9ff;
  --color-info-100: #dff2fe;
  --color-info-200: #b8e6fe;
  --color-info-300: #74d4ff;
  --color-info-400: #00bcff;
  --color-info-500: #00a6f4;
  --color-info-600: #0084d1;
  --color-info-700: #0069a8;
  --color-info-800: #00598a;
  --color-info-900: #024a70;
  --color-info-950: #052f4a;

  --color-plain-50: #fafafa;
  --color-plain-100: #f5f5f5;
  --color-plain-200: #e5e5e5;
  --color-plain-300: #d4d4d4;
  --color-plain-400: #a1a1a1;
  --color-plain-500: #737373;
  --color-plain-600: #525252;
  --color-plain-700: #404040;
  --color-plain-800: #262626;
  --color-plain-900: #171717;
  --color-plain-950: #090b0c;

  --color-warn-50: #fefce8;
  --color-warn-100: #fef9c2;
  --color-warn-200: #fff085;
  --color-warn-300: #ffdf20;
  --color-warn-400: #fdc700;
  --color-warn-500: #f0b100;
  --color-warn-600: #d08700;
  --color-warn-700: #a65f00;
  --color-warn-800: #894b00;
  --color-warn-900: #733e0a;
  --color-warn-950: #432004;

  --color-win-50: #f0fdf4;
  --color-win-100: #dcfce7;
  --color-win-200: #b9f8cf;
  --color-win-300: #7bf1a8;
  --color-win-400: #05df72;
  --color-win-500: #00c950;
  --color-win-600: #00a63e;
  --color-win-700: #008236;
  --color-win-800: #016630;
  --color-win-900: #0d542b;
  --color-win-950: #032e15;
}

body {
  @apply bg-plain-50 text-plain-950;
  @variant dark {
    @apply bg-plain-900 text-plain-50 font-sans;
  }
}

.global-border-gradient::before {
  content: '';
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  /* background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.3) 0%,
    #54576100 52%,
    rgba(255, 255, 255, 0.3) 100%
  ); */
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.3) 0%,
    #54576100 48%,
    #54576100 58%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.global-tap-animation {
  animation: tap-scale 0.3s ease;
}

@keyframes tap-scale {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scaleX(0.91) scaleY(0.96);
  }
  100% {
    transform: scale(1);
  }
}
