@theme {
  --breakpoint-*: initial;
}

@custom-variant dk (@media (width >= 1440px));
@custom-variant lp (@media (width < 1440px));
@custom-variant tb (@media (width < 1024px));
@custom-variant mb (@media (width < 768px));
@custom-variant ms (@media (width < 480px));


@media (width < 1440px) {
  .dkHidden {
    display: none !important;
  }
}

@media (width < 1024px), (width >= 1440px) {
  .lpHidden {
    display: none !important;
  }
}

@media (width < 768px), (width >= 1024px) {
  .tbHidden {
    display: none !important;
  }
}

@media (width < 480px), (width >= 768px) {
  .mbHidden {
    display: none !important;
  }
}

@media (width >= 480px) {
  .msHidden {
    display: none !important;
  }
}

@custom-variant hover {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }

  @media (hover: none) {
    &:active {
      @slot;
    }
  }
}
